In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('entire_data.csv')
data = data[['Slide ID','Options','Correct ID']]
data.head(8)

      Slide ID                                            Options Correct ID
0  HIND4700548  How much are those shoes in the window over th...          1
1  HIND4700548  How much are these shoes in the window over th...          1
2  HIND4700548  How much are that shoes in the window over there?          1
3  HIND4700548  How much are this shoes in the window over there?          1
4  HIND4060599                        My brown skirt fit me well.          2
5  HIND4060599                       My brown skirt fits me well.          2
6  HIND4060599                     My brown skirt is fit me well.          2
7  HIND4060599                    My brown skirt is fits me well.          2

In [7]:
data['is_correct'] = 0

In [13]:
data.head(12)

,Slide ID,Options,Correct ID,is_correct
0,HIND4700548,How much are those shoes in the window over th...,1,0
1,HIND4700548,How much are these shoes in the window over th...,1,0
2,HIND4700548,How much are that shoes in the window over there?,1,0
3,HIND4700548,How much are this shoes in the window over there?,1,0
4,HIND4060599,My brown skirt fit me well.,2,0
5,HIND4060599,My brown skirt fits me well.,2,0
6,HIND4060599,My brown skirt is fit me well.,2,0
7,HIND4060599,My brown skirt is fits me well.,2,0
8,HIND6462367,Mohan is go to be three in June.,2,0
9,HIND6462367,Mohan is going to be three in June.,2,0
10,HIND6462367,Mohan is will be three in June.,2,0
11,HIND6462367,Mohan is going to three in June.,2,0

In [12]:
for i in range(0, data.shape[0],4):
    correct_id = int(data.iloc[i]['Correct ID']) - 1
    data.iloc[i + correct_id]['is_correct'] = 1

/home/ashutosh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

ValueError: invalid literal for int() with base 10: '\\\\\\"are\\\\\\" लगाने की ज़रुरत नहीं है. \\\\\\"They speak\\\\\\" = वे बोलते हैं."'

In [4]:
data.to_excel('questions_rest.xlsx', header= False)

In [31]:
buffer = data[data['Grammarly'] == 'missing']['Unnamed: 1']

In [32]:
type(buffer)

pandas.core.series.Series

In [33]:
buffer.to_csv('buffer.csv')

In [35]:
data1 = pd.read_csv('buffer.csv')
data1.head(5)

   Sno                             Data
0   21  Rachel and I works at a school.
1   75     8764031748 aren't my number.
2   76    8764031748 doesn't my number.
3   77   8764031748 is don't my number.
4   78      8764031748 isn't my number.

In [36]:
data1 = data1['Data']
data1.head(5)

0    Rachel and I works at a school.
1       8764031748 aren't my number.
2      8764031748 doesn't my number.
3     8764031748 is don't my number.
4        8764031748 isn't my number.
Name: Data, dtype: object

In [38]:
data1.to_excel('buffer.xlsx')