In [1]:
import pandas as pd
import numpy as np

In [29]:
data = pd.read_csv('misc.csv')
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Grammarly,Unnamed: 6,Unnamed: 7,Crio,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,Slide Id,Options,Correct,Slide Type,slug,Error,Corrected,NaN,Error,Corrected,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HIND2055067,- Japanese language is difficult to learn.,3,Missing Word,- japanese language is difficult to learn.,No error found,NaN,NaN,NaN,missing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Missing Word
2,HIND2055035,- Smiths often eat in that expensive restauran...,2,Missing Word,- smiths often eat in that expensive restauran...,No error found,NaN,NaN,NaN,missing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HIND1473312086087,"""Do that that you are able"" is a motto that ha...",3,Missing Word,do that that you are able is a motto that has ...,No error found,NaN,NaN,NaN,missing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HIND1473312086087,"""Do that what you are able"" is a motto that ha...",3,Missing Word,do that what you are able is a motto that has ...,No error found,NaN,NaN,NaN,missing,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
buffer = data[data['Grammarly'] == 'missing']['Unnamed: 1']

In [32]:
type(buffer)

pandas.core.series.Series

In [33]:
buffer.to_csv('buffer.csv')

In [35]:
data1 = pd.read_csv('buffer.csv')
data1.head(5)

   Sno                             Data
0   21  Rachel and I works at a school.
1   75     8764031748 aren't my number.
2   76    8764031748 doesn't my number.
3   77   8764031748 is don't my number.
4   78      8764031748 isn't my number.

In [36]:
data1 = data1['Data']
data1.head(5)

0    Rachel and I works at a school.
1       8764031748 aren't my number.
2      8764031748 doesn't my number.
3     8764031748 is don't my number.
4        8764031748 isn't my number.
Name: Data, dtype: object

In [38]:
data1.to_excel('buffer.xlsx')