In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('rest_choose4_choose_2.csv')
data.head()

      Slide ID                                            Options  Correct ID
0  HIND6199593   We came in early today because we had a meeting.           1
1  HIND6199593        We came in early today so we had a meeting.           1
2  HIND6199593       We came in early today but we had a meeting.           1
3  HIND6199593  We came in early today that's why we had a mee...           1
4  HIND6345499                        Whose your favorite singer?           2

In [3]:
data = data['Options']

In [4]:
data.to_excel('questions_rest.xlsx', header= False)

In [31]:
buffer = data[data['Grammarly'] == 'missing']['Unnamed: 1']

In [32]:
type(buffer)

pandas.core.series.Series

In [33]:
buffer.to_csv('buffer.csv')

In [35]:
data1 = pd.read_csv('buffer.csv')
data1.head(5)

   Sno                             Data
0   21  Rachel and I works at a school.
1   75     8764031748 aren't my number.
2   76    8764031748 doesn't my number.
3   77   8764031748 is don't my number.
4   78      8764031748 isn't my number.

In [36]:
data1 = data1['Data']
data1.head(5)

0    Rachel and I works at a school.
1       8764031748 aren't my number.
2      8764031748 doesn't my number.
3     8764031748 is don't my number.
4        8764031748 isn't my number.
Name: Data, dtype: object

In [38]:
data1.to_excel('buffer.xlsx')