In [1]:
import pandas as pd
import numpy as np

In [32]:
data = pd.read_csv('entire_data.csv')
data = data[['Slide ID','Options','Correct ID']]
data.head(8)

      Slide ID                                            Options  Correct ID
0  HIND4700548  How much are those shoes in the window over th...         1.0
1  HIND4700548  How much are these shoes in the window over th...         1.0
2  HIND4700548  How much are that shoes in the window over there?         1.0
3  HIND4700548  How much are this shoes in the window over there?         1.0
4  HIND4060599                        My brown skirt fit me well.         2.0
5  HIND4060599                       My brown skirt fits me well.         2.0
6  HIND4060599                     My brown skirt is fit me well.         2.0
7  HIND4060599                    My brown skirt is fits me well.         2.0

In [33]:
data['is_correct'] = 0

In [42]:
data.head(16)

,Slide ID,Options,Correct ID,is_correct
0,HIND4700548,How much are those shoes in the window over th...,1.0,1
1,HIND4700548,How much are these shoes in the window over th...,1.0,0
2,HIND4700548,How much are that shoes in the window over there?,1.0,0
3,HIND4700548,How much are this shoes in the window over there?,1.0,0
4,HIND4060599,My brown skirt fit me well.,2.0,0
5,HIND4060599,My brown skirt fits me well.,2.0,1
6,HIND4060599,My brown skirt is fit me well.,2.0,0
7,HIND4060599,My brown skirt is fits me well.,2.0,0
8,HIND6462367,Mohan is go to be three in June.,2.0,0
9,HIND6462367,Mohan is going to be three in June.,2.0,1
10,HIND6462367,Mohan is will be three in June.,2.0,0
11,HIND6462367,Mohan is going to three in June.,2.0,0
12,HIND7137001,I prefer relaxed on weekends.,3.0,0
13,HIND7137001,I prefer relax on weekends.,3.0,0
14,HIND7137001,I prefer relaxing on weekends.,3.0,1
15,HIND7137001,I prefer to relaxed on weekends.,3.0,0

In [35]:
data[data['Correct ID'].isna()]

Empty DataFrame
Columns: [Slide ID, Options, Correct ID, is_correct]
Index: []

In [23]:
data.shape

(21980, 4)

In [38]:
for i in range(0, data.shape[0],4):
    correct_id = int(data.iloc[i]['Correct ID']) - 1
    data['is_correct'].iloc[i + correct_id] = 1

/home/ashutosh/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [44]:
data.drop(['Correct ID'], axis = 1, inplace= True)

In [45]:
data.head()

      Slide ID                                            Options  is_correct
0  HIND4700548  How much are those shoes in the window over th...           1
1  HIND4700548  How much are these shoes in the window over th...           0
2  HIND4700548  How much are that shoes in the window over there?           0
3  HIND4700548  How much are this shoes in the window over there?           0
4  HIND4060599                        My brown skirt fit me well.           0

In [46]:
data.to_excel('entire_data_with_iscorrect.xlsx')

In [4]:
data.to_excel('questions_rest.xlsx', header= False)

In [31]:
buffer = data[data['Grammarly'] == 'missing']['Unnamed: 1']

In [32]:
type(buffer)

pandas.core.series.Series

In [33]:
buffer.to_csv('buffer.csv')

In [35]:
data1 = pd.read_csv('buffer.csv')
data1.head(5)

   Sno                             Data
0   21  Rachel and I works at a school.
1   75     8764031748 aren't my number.
2   76    8764031748 doesn't my number.
3   77   8764031748 is don't my number.
4   78      8764031748 isn't my number.

In [36]:
data1 = data1['Data']
data1.head(5)

0    Rachel and I works at a school.
1       8764031748 aren't my number.
2      8764031748 doesn't my number.
3     8764031748 is don't my number.
4        8764031748 isn't my number.
Name: Data, dtype: object

In [38]:
data1.to_excel('buffer.xlsx')

In [2]:
data = pd.read_csv('lessonDiffDump.csv')
data.head()

,RECORD_ID,USER_ID,SLIDE_ID,ATTEMPT_NUMBER,IS_CORRECT,USER_RESPONSE,CREATED_AT
0,107674045,kumar.ganesh199104@gmail.com,HIND2804673,1,1,My name is Pooja.,2018-06-01 00:00:01
1,108068364,sonamshrivastv6@gmail.com,HIND2839239,2,1,Hello! I am Pooja.,2018-06-01 00:00:01
2,107517978,sunitalal9634@gmail.com,HIND2893090,1,0,is,2018-06-01 00:00:01
3,107419929,harichandrathakur@gmail.com,HIND2958525,1,0,"I amn't from India, I amn't Indian.",2018-06-01 00:00:01
4,108713359,archus103@gmail.com,HIND3307669,2,1,eight,2018-06-01 00:00:01

In [4]:
data.isnull().count()

RECORD_ID         50000
USER_ID           50000
SLIDE_ID          50000
ATTEMPT_NUMBER    50000
IS_CORRECT        50000
USER_RESPONSE     50000
CREATED_AT        50000
dtype: int64