In [1]:
import pandas as pd
import numpy as np
import re

In [3]:
df = pd.read_csv('pos_tagged_data_choose4_complete_.csv')
df.head()

,Unnamed: 0,Slide ID,Options,Correct ID,pos_array
0,0,HIND6363511,Golmaal is one of the funniest movies.,1,"[('Golmaal', 'NNP'), ('is', 'VBZ'), ('one', 'C..."
1,1,HIND6363511,Golmaal is one between the funniest movies.,1,"[('Golmaal', 'NNP'), ('is', 'VBZ'), ('one', 'C..."
2,2,HIND6363511,Golmaal is one of the funny movies.,1,"[('Golmaal', 'NNP'), ('is', 'VBZ'), ('one', 'C..."
3,3,HIND6363511,Golmaal is first of the funniest movies.,1,"[('Golmaal', 'NNP'), ('is', 'VBZ'), ('first', ..."
4,4,HIND6376394,I am feel better.,4,"[('I', 'PRP'), ('am', 'VBP'), ('feel', 'RB'), ..."

In [4]:
pos_array = list(df['pos_array'])

In [5]:
pos_array[0]

"[('Golmaal', 'NNP'), ('is', 'VBZ'), ('one', 'CD'), ('of', 'IN'), ('the', 'DT'), ('funniest', 'JJS'), ('movies', 'NNS'), ('.', '.')]"

In [6]:
def tokentolist(token):
    pos = re.findall('\(.*?\)',token)
    return pos

In [7]:
df['pos_array'] = df['pos_array'].apply(tokentolist)

In [8]:
df['pos_delta'] = df['Slide ID']

In [9]:
df.tail(8)

,Unnamed: 0,Slide ID,Options,Correct ID,pos_array,pos_delta
4316,4316,HIND6197761,She got presents so it was her birthday.,1,"[('She', 'PRP'), ('got', 'VBD'), ('presents', ...",HIND6197761
4317,4317,HIND6197761,She got presents because it was her birthday.,1,"[('She', 'PRP'), ('got', 'VBD'), ('presents', ...",HIND6197761
4318,4318,HIND6197761,She got presents but it was her birthday.,1,"[('She', 'PRP'), ('got', 'VBD'), ('presents', ...",HIND6197761
4319,4319,HIND6197761,She got presents then it was her birthday.,1,"[('She', 'PRP'), ('got', 'VBD'), ('presents', ...",HIND6197761
4320,4320,HIND6199593,We came in early today because we had a meeting.,1,"[('We', 'PRP'), ('came', 'VBD'), ('in', 'IN'),...",HIND6199593
4321,4321,HIND6199593,We came in early today so we had a meeting.,1,"[('We', 'PRP'), ('came', 'VBD'), ('in', 'IN'),...",HIND6199593
4322,4322,HIND6199593,We came in early today but we had a meeting.,1,"[('We', 'PRP'), ('came', 'VBD'), ('in', 'IN'),...",HIND6199593
4323,4323,HIND6199593,We came in early today that''s why we had a me...,1,"[('We', 'PRP'), ('came', 'VBD'), ('in', 'IN'),...",HIND6199593

In [10]:
pos_array = list(df['pos_array'])

In [11]:
def delta(option, base):
    return list(set(option)-set(base))

In [12]:
for i in range(0, 4323, 4):
    n = i
    data = df.iloc[n : n + 4]
    correct_index = int(data['Correct ID'].iloc[0])-1
    base = data['pos_array'].iloc[correct_index]
    for j in range(4):
        df['pos_delta'].iloc[n + j] = delta(data['pos_array'].iloc[j], base)

/home/ashutosh/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [17]:
df.to_csv('pos_delta_choose4.csv')

In [15]:
df.tail(8)

,Unnamed: 0,Slide ID,Options,Correct ID,pos_array,pos_delta
4316,4316,HIND6197761,She got presents so it was her birthday.,1,"[('She', 'PRP'), ('got', 'VBD'), ('presents', ...",[]
4317,4317,HIND6197761,She got presents because it was her birthday.,1,"[('She', 'PRP'), ('got', 'VBD'), ('presents', ...","[('because', 'IN')]"
4318,4318,HIND6197761,She got presents but it was her birthday.,1,"[('She', 'PRP'), ('got', 'VBD'), ('presents', ...","[('but', 'CC')]"
4319,4319,HIND6197761,She got presents then it was her birthday.,1,"[('She', 'PRP'), ('got', 'VBD'), ('presents', ...","[('then', 'RB')]"
4320,4320,HIND6199593,We came in early today because we had a meeting.,1,"[('We', 'PRP'), ('came', 'VBD'), ('in', 'IN'),...",[]
4321,4321,HIND6199593,We came in early today so we had a meeting.,1,"[('We', 'PRP'), ('came', 'VBD'), ('in', 'IN'),...","[('so', 'IN'), ('early', 'JJ')]"
4322,4322,HIND6199593,We came in early today but we had a meeting.,1,"[('We', 'PRP'), ('came', 'VBD'), ('in', 'IN'),...","[('but', 'CC'), ('early', 'JJ')]"
4323,4323,HIND6199593,We came in early today that''s why we had a me...,1,"[('We', 'PRP'), ('came', 'VBD'), ('in', 'IN'),...","[('why', 'WRB'), ('early', 'JJ'), ('s', 'JJ'),..."

In [55]:
df[df['Correct ID'] == ' ']

,Unnamed: 0,Slide ID,Options,Correct ID,pos_array,pos_delta
12432,12432,HIND1473331299268,,,[],HIND1473331299268
12433,12433,HIND1473331299268,,,[],HIND1473331299268
12434,12434,HIND1473331299268,,,[],HIND1473331299268
12435,12435,HIND1473331299268,,,[],HIND1473331299268
12436,12436,HIND1473331300435,,,[],HIND1473331300435
12437,12437,HIND1473331300435,,,[],HIND1473331300435
12438,12438,HIND1473331300435,,,[],HIND1473331300435
12439,12439,HIND1473331300435,,,[],HIND1473331300435
12440,12440,HIND1473331301620,,,[],HIND1473331301620
12441,12441,HIND1473331301620,,,[],HIND1473331301620
12442,12442,HIND1473331301620,,,[],HIND1473331301620
12443,12443,HIND1473331301620,,,[],HIND1473331301620
12444,12444,HIND1473331302726,,,[],HIND1473331302726
12445,12445,HIND1473331302726,,,[],HIND1473331302726
12446,12446,HIND1473331302726,,,[],HIND1473331302726
12447,12447,HIND1473331302726,,,[],HIND1473331302726
12448,12448,HIND1473331303909,,,[],HIND1473331303909
12449,12449,HIND1473331303909,,,[],HIND1473331303909
12450,12450,HIND1473331303909,,,[],HIND1473331303909
12451,12451,HIND1473331303909,,,[],HIND1473331303909
12452,12452,HIND1473331305337,,,[],HIND1473331305337
12453,12453,HIND1473331305337,,,[],HIND1473331305337
12454,12454,HIND1473331305337,,,[],HIND1473331305337
12455,12455,HIND1473331305337,,,[],HIND1473331305337
12456,12456,HIND1473331306443,,,[],HIND1473331306443
12457,12457,HIND1473331306443,,,[],HIND1473331306443
12458,12458,HIND1473331306443,,,[],HIND1473331306443
12459,12459,HIND1473331306443,,,[],HIND1473331306443
12460,12460,HIND1473331307396,,,[],HIND1473331307396
12461,12461,HIND1473331307396,,,[],HIND1473331307396
...,...,...,...,...,...,...
12494,12494,HIND1473331321027,,,[],HIND1473331321027
12495,12495,HIND1473331321027,,,[],HIND1473331321027
12500,12500,HIND1473080423329,,,[],HIND1473080423329
12501,12501,HIND1473080423329,,,[],HIND1473080423329
12502,12502,HIND1473080423329,,,[],HIND1473080423329
12503,12503,HIND1473080423329,,,[],HIND1473080423329
12504,12504,HIND1473080424544,,,[],HIND1473080424544
12505,12505,HIND1473080424544,,,[],HIND1473080424544
12506,12506,HIND1473080424544,,,[],HIND1473080424544
12507,12507,HIND1473080424544,,,[],HIND1473080424544
12508,12508,HIND1473080425937,,,[],HIND1473080425937
12509,12509,HIND1473080425937,,,[],HIND1473080425937
12510,12510,HIND1473080425937,,,[],HIND1473080425937
12511,12511,HIND1473080425937,,,[],HIND1473080425937
12512,12512,HIND1473080427582,,,[],HIND1473080427582
12513,12513,HIND1473080427582,,,[],HIND1473080427582
12514,12514,HIND1473080427582,,,[],HIND1473080427582
12515,12515,HIND1473080427582,,,[],HIND1473080427582
12516,12516,HIND1473080429063,,,[],HIND1473080429063
12517,12517,HIND1473080429063,,,[],HIND1473080429063
12518,12518,HIND1473080429063,,,[],HIND1473080429063
12519,12519,HIND1473080429063,,,[],HIND1473080429063
12520,12520,HIND1473080430633,,,[],HIND1473080430633
12521,12521,HIND1473080430633,,,[],HIND1473080430633
12522,12522,HIND1473080430633,,,[],HIND1473080430633
12523,12523,HIND1473080430633,,,[],HIND1473080430633
12524,12524,HIND1473080432238,,,[],HIND1473080432238
12525,12525,HIND1473080432238,,,[],HIND1473080432238
12526,12526,HIND1473080432238,,,[],HIND1473080432238
12527,12527,HIND1473080432238,,,[],HIND1473080432238

In [63]:
import pandas as pd
import numpy as np
data = pd.read_csv('pos_delta_complete.csv')
data.head()

,Unnamed: 0,Unnamed: 0.1,Slide ID,Options,Correct ID,pos_array,pos_delta
0,0,0,HIND4525628,Is there three banks next to my house.,3,"[""('Is', 'VBZ')"", ""('there', 'EX')"", ""('three'...","[""('Is', 'VBZ')"", ""('there', 'EX')""]"
1,1,1,HIND4525628,There three banks next to my house.,3,"[""('There', 'EX')"", ""('three', 'CD')"", ""('bank...",[]
2,2,2,HIND4525628,There are three banks next to my house.,3,"[""('There', 'EX')"", ""('are', 'VBP')"", ""('three...",[]
3,3,3,HIND4525628,,3,[],[]
4,4,4,HIND4528144,There aren't three banks next to my house.,1,"[""('There', 'EX')"", ""('are', 'VBP')"", '(""n\'t""...",[]

In [65]:
data.to_excel('pos_delta_complete.xlsx')